@page
@model KitapciRazor.Pages.Kategoriler.DeleteModel
<form method="post">
    <input asp-for="Kategori.Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Sil</h2>
            <hr />
        </div>
        @*  <div asp-validation-summary="ModelOnly"></div> *@
        <div class="mb-3 row p-1">
            <label asp-for="Kategori.Ad"></label>
            <input asp-for="Kategori.Ad" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Kategori.DisplayOrder"></label>
            <input asp-for="Kategori.DisplayOrder" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Sil</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Kategori/Index"  class="btn btn-secondary form-control">
                    Listeye Geri Dön
                </a>
            </div>
        </div>
    </div>
</form>
